.psuedo:hover {
    background-color: #d63384;
    color: #FFFFFF;
}

.gates:hover {
    background-color: #cc6302;
    color: #FFFFFF;
}

.golf:hover {
    background-color: #029e50;
    color: #ffffff;
}

.ohajiki:hover {
    background-color: #0262d1;
    color: #ffffff;
}

.minigames:hover {
    background-color: #6c40d3;
    color: #ffffff;
}

.past:hover {
    background-color: #9800ac;
    color: #ffffff;
}

.new:hover {
    background-color: #210125;
    color: #ffffff;
}

.discord {
    color: #7289DA;
    font-weight: bold;
}

.ATK {
    color: #f61643;
}

.HP {
    color: #36B25D;
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
}

.hr-sect:before,
.hr-sect:after {
    content: "";
    flex-grow: 1;
    background: #c9c9c9;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}

:target { 
    background: #ccc;
    border: solid 1px #aaa;
    transition: ease-in .8s; 
}

.download {
    border: none;
    color: #ffffff;
    background-color: #4e5eec;
    padding: 16px;
    border-radius: 5px;
    opacity: 1;
    transition: 0.3s;

}

.download:hover {
    opacity: 0.8;
}

.docs:hover{
    color: #ffffff;
    background-color: #1973e9;
}

.schedule:hover {
    color: #FFFFFF;
    background-color: #d65188;
}