.psuedo:hover {
    background-color: #d63384;
    color: #FFFFFF;
}

.gates:hover {
    background-color: #f7f309;
    color: #000000;
}

.past:hover {
    background-color: #9800ac;
    color: #ffffff;
}

.new:hover {
    background-color: #f19d01;
    color: #ffffff;
}

.discord {
    color: #7289DA;
    font-weight: bold;
}