.brave{
    width:32px; 
    height:32px;
}

.mysterious{
    width:31px; 
    height:38px;
}

.tough{
    width:30px;
    height:30px;
}

.charming{
    width:32px; 
    height:32px;
}

.heartful{
    width:32px; 
    height:31px;
}

.shady{
    width:34px; 
    height:30px;
}

.eerie{
    width:47px; 
    height:28px;
}

.slippery{
    width:32px; 
    height:35px;
}

.wicked{
    width:35px; 
    height:39px;
}

.enma{
    width:37px; 
    height:35px;
}

.hagure{
    width:37px; 
    height:35px;
}

.ZZ{
    width:44px; 
    height:40px;
}

.Z{
    width:40px; 
    height:40px;
}

.SSS{
    width:55px; 
    height:40px;
}

.SS{
    width:50px; 
    height:40px;
}

.S{
    width:40px; 
    height:40px;
}

.A{
    width:45px; 
    height:40px;
}

.B{
    width:45px; 
    height:40px;
}